<% title 'Register - ' %>

      <div class="row">
        <div class='large-12 columns'>          
          <div class="row heading">
            <div class="large-9 columns">
              <img alt="Beerance_baricon" src="/assets/beerance_baricon.png"><h2>Join Beerance</h2>
            </div>
          </div>
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class='large-4 columns'>
            <div><%= f.label :email %><br />
            <%= f.email_field :email, :autofocus => true %></div>

            <div><%= f.label :password %><br />
            <%= f.password_field :password %></div>

            <div><%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation %></div>            
          </div>
          <div class='large-1 columns'></div>
          <div class='large-4 columns'>
            <%= f.label :name, "Your Name" %><br />
            <%= f.text_field :name, placeholder: 'Luke S. Walker', class: 'required' %>
            <%= f.label :phone, "Business Phone Number" %><br />
            <%= f.phone_field :phone, placeholder: '216-123-4567', class: 'required' %>
          </div>
          <div class='large-3 columns'></div>       
    
      <div class='row'>
        <div class='large-12 columns'>
          <label>
            <%= f.check_box :newsletter_subscription, checked: true %> Sign up for our newsletter
          </label>
        </div>
      </div>
      <div class='row'>
        <div class='large-12 columns'>
          <p>By clicking you agree to the <%= link_to "Terms of Service", tos_path %>, <%= link_to "Privacy", privacy_path %>, and <%= link_to "Refund policies", 'javascript:void(0)' %>.</p>
          <%= f.submit "Join Beerance", class: 'button radius shadow' %>
          <br />
          <%= render "devise/shared/links" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
    



































