<style>
  label img:hover {border: 2px dashed brown;}
  .active img {border: 2px solid brown;}
  .active img:hover {border: 2px solid brown;}
  label img {padding: 3px 6px;}
  input[type="radio"],  span.custom.radio {display: none;}
</style>
<script>
  $(document).ready(function() {
    $('input[type="radio"]').live('change', function() {
      $('label').removeClass('active');
      $(this).parent().addClass('active');
    });
  });
</script>

<h3>Add a new Special</h3>
<h4 class="subheader">Fill out the form below</h4>
<hr />

<fieldset>
<%= form_for @bar_special, html: {class: 'custom'} do |f| %>  
  <% if @bar_special.errors.any? %>  
    <div class="error_messages">  
      <h2>Form is invalid</h2>  
      <ul>  
        <% for message in @bar_special.errors.full_messages %>  
          <li><%= message %></li>  
        <% end %>  
      </ul>  
    </div>  
  <% end %>  
  <p>  
    <%= f.label :bar_id, "Select your bar" %><br />  
    <%= f.select :bar_id, BarEntity.where(bar_owner_id: current_user.id).map {|b| [b.bar_name, b.id]} %>  
  </p>  
  <p>  
    <%= f.label :special_description %><br />  
    <%= f.text_field :special_description, placeholder: 'Usually the name of the beer', class: 'required' %>  
  </p>  
  <p>  
    <%= f.label :sale_price %><br />  
    <%= f.text_field :sale_price, placeholder: '3.99', class: 'required' %>  
  </p>
  <p>  
    <%= f.label :expiration_date %><br />  
    <%= f.text_field :expiration_date, value: Date.today.advance(days: 3), class: 'required' %>  
  </p>  
  <p>  
    <%= f.label :beer_color %>
  </p>  
  <div class="row beer-colors">
    <div class="large-3 columns">
      <label class='active'>
        <%= f.radio_button :beer_color, 1 %>
        <%= image_tag "beer_icon_02.jpg" %>
      </label>
    </div>
    <div class="large-3 columns">
      <label>
        <%= f.radio_button :beer_color, 2 %>
        <%= image_tag "beer_icon_03.jpg" %>
      </label>
    </div>
    <div class="large-3 columns">
      <label>
        <%= f.radio_button :beer_color, 3 %>
        <%= image_tag "beer_icon_04.jpg" %>
      </label>
    </div>
    <div class="large-3 columns">
      <label>
        <%= f.radio_button :beer_color, 4 %>
        <%= image_tag "beer_icon_05.jpg" %>
      </label>
    </div>
  </div>
  <hr />
  <p><%= f.submit "Add Special", class: 'button nice radius' %> <%= link_to "Cancel", profile_path, class: 'alert button nice radius' %></p>  
<% end %>  
</fieldset>