<div class="row heading">
  <div class="large-9 columns">
    <%= image_tag "beerance_mugicon.png" %><h2>Archived Specials</h2>
  </div>
  <div class="large-3 columns">
    <%= link_to "New Special", "#", data: {reveal_id: "new_special"}, title: "New Special", class: 'button' %>
  </div>
</div>

<% unless @inactive_specials.empty? %>

<div class="beerance_list">
	<div class="row hide-for-small purple_grad">
		<div class="large-5 columns">
			Name
		</div>
		<div class="large-1 columns">
			Color
		</div>
		<div class="large-1 columns">
			Price
		</div>
		<div class="large-1 columns">
			Size
		</div>
		<div class="large-2 columns">
			Location
		</div>
		<div class="large-2 columns align-center">
			Reactivate
		</div>
	</div>
		
	<% @inactive_specials.each do |bs| %>
	

		
	<div class="row">
		<div class="large-5 columns">
			<span class="show-for-small">Name: </span>
			<%= bs.special_description %>
		</div>
		<div class="large-1 columns color">
			<span class="show-for-small">Color: </span>
				<%= beer_color_image bs.beer_color %>
		</div>
		<div class="large-1 columns">
			<span class="show-for-small">Price: </span>
			<%= number_to_currency(bs.sale_price) %>
		</div>
		<div class="large-1 columns">
			<span class="show-for-small">Size: </span>
			<%= "#{bs.beer_size}oz" %>
		</div>
		<div class="large-2 columns">
			<span class="show-for-small">Location: </span>
			<%= bs.bar_name %>
		</div>
		<div class="large-2 columns align-center">
			<span class="show-for-small">Reactivate: </span>
			<%= link_to "", reactivate_beerance_path(bs), class: 're-activate', data: {remote: true} %>
		</div>
	</div>
	<% end %> 
</div> 
  
<% else %>
  <h3 style='text-align: center;'>You have no archived specials</h3>
<% end %>