<div class="row">
  <div class="large-12 columns bar">
    <%= image_tag "beerance_mugicon.png" %><h2>Archived Specials</h2>
    <%= link_to "New Special", "#", data: {reveal_id: "new_special"}, title: "New Special", class: 'small button radius right' %>
  </div>
</div>

<div class="row">
    <div class="large-12 columns archives">
      <div class="row thead">
        <div class='large-2 columns'>
          <b>Name</b>
        </div>
        <div class='large-2 columns'>
          <b>Style</b>
        </div>
        <div class='large-1 columns'>
          <b>Price</b>
        </div>
        <div class='large-1 columns'>
          <b>Size</b>
        </div>
        <div class='large-4 columns'>
          <b>Location</b>
        </div>
        <div class='large-2 columns'>
          <b>Reactivate</b>
        </div>
      </div>
      <% @inactive_specials.each do |bs| %>
      <div class="row">
        <%= form_for bs, html: { data: {remote: true } } do |f| %>
        <%= f.hidden_field :bar_id %>
        <div class="large-2 columns">
          <%= f.label :special_description, bs.special_description %>
          <%= f.text_field :special_description, class: 'hide' %>
        </div>
        <div class="large-2 columns">
          IPA
        </div>
        <div class="large-1 columns">
          <%= number_to_currency bs.sale_price %>
        </div>
        <div class="large-1 columns">
           <%= bs.beer_size %>oz
        </div>
        <div class="large-4 columns">
          <%= bs.bar_name %>
        </div>
        <div class="large-2 columns">
          <%= link_to "Reactivate", reactivate_beerance_path(bs), class: 're-activate', data: {remote: true} %>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>