<% if @bar_entities.blank? %>
  <fieldset>
    <%= form_for @bar_entity, html: {class: 'custom'}, remote: true do |f| %>  
      <% if @bar_entity.errors.any? %>  
        <div class="error_messages">  
          <h2>Form is invalid</h2>  
          <ul>  
            <% for message in @bar_entity.errors.full_messages %>  
              <li><%= message %></li>  
            <% end %>  
          </ul>  
        </div>  
      <% end %>  
      <br />
      <%= render partial: 'bar_entities/form', locals: {f: f} %>

      <%= f.submit "Add Bar", class: 'button nice radius' %>
    <% end %>  
  </fieldset>
<% else %>
  <br />
  
  <% @bar_entities.each do |bar| %>
  <div id="bar-<%= bar.id %>" class="row bar-row">
    <div class="large-12 columns"><h2><%= bar.bar_name %> <small><%= link_to "edit", edit_bar_entity_path(bar) %> / <%= link_to "delete", bar, method: :delete, data: {confirm: "Are you sure?"}, remote: true %></small></h2></div>
    <div class="large-12 columns">
      <%= bar.bar_addr1 %><br />
      <% unless bar.bar_addr2.blank? %>
        <%= bar.bar_addr2 %><br />
      <% end %>
      <%= bar.bar_city %>, <%= bar.bar_state %>
      <br /><%= bar.bar_zip %><br /><br />
      <%= number_to_phone bar.bar_phone, area_code: true %><br />
      <%= link_to bar.bar_url, "#{bar.bar_url}", target: :_blank %>
      <br />
    </div>   
  </div>
  <br />
  <% end %>
<% end %>