<div class="row heading">
  <div class="large-9 columns">
    <%= image_tag "beerance_mugicon.png" %><h2>Current Specials</h2>
  </div>
  <div class="large-3 columns">
    <%= link_to "New Special", "#", data: {reveal_id: "new_special"}, title: "New Special", class: 'button' %>
  </div>
</div>

<% unless @active_specials.empty? %>

<div class="beerance_list">
	<div class="row hide-for-small purple_grad">
		<div class="large-5 columns">
			Name
		</div>
		<div class="large-1 columns">
			Color
		</div>
		<div class="large-1 columns">
			Price
		</div>
		<div class="large-1 columns">
			Size
		</div>
		<div class="large-3 columns">
			Location
		</div>
		<div class="large-1 columns align-center">
			Remove
		</div>
	</div>
		
	<% @active_specials.each do |bs| %>
	<%= form_for bs, html: { data: {remote: true } } do |f| %>
	<%= f.hidden_field :bar_id %>
		
	<div class="row">
		<div class="large-5 columns">
			<span class="show-for-small">Name: </span>
			<%= f.label :special_description, bs.special_description %>
			<%= f.text_field :special_description, class: 'input-text hide' %>
		</div>
		<div class="large-1 columns color">
			<span class="show-for-small">Color: </span>
			  <%= beer_color_image bs.beer_color %>
		</div>
		<div class="large-1 columns">
			<span class="show-for-small">Price: </span>
			<%= f.label :sale_price, number_to_currency(bs.sale_price) %>
			<%= f.text_field :sale_price, class: 'input-text hide' %>
		</div>
		<div class="large-1 columns">
			<span class="show-for-small">Size: </span>
			<%= f.label :beer_size, "#{bs.beer_size}oz" %>
			<%= f.text_field :beer_size, class: 'input-text hide' %>
		</div>
		<div class="large-3 columns">
			<span class="show-for-small">Location: </span>
			<%= bs.bar_name %>
		</div>
		<div class="large-1 columns align-center">
			<span class="show-for-small">Remove: </span>
			<%= link_to "", end_beerance_path(bs), class: 'remove', data: {remote: true} %>
		</div>
	</div>
	<% end %> 
	<% end %>
</div>

<% else %>
  <h3 style='text-align: center;'>You have no specials.</h3>
<% end %>