<div class="row">
  <div class="large-12 columns bar">
    <%= image_tag "beerance_mugicon.png" %><h2>Current Specials</h2>
    <%= link_to "New Special", "#", data: {reveal_id: "new_special"}, title: "New Special", class: 'small button radius right' %>
  </div>
</div>

<% unless @active_specials.empty? %>
<div class="row">
  <div class="large-12 columns specials">
    <div class="row thead">
      <div class='large-2 columns'>
        <b>Name</b>
      </div>
      <div class='large-2 columns'>
        <b>Style</b>
      </div>
      <div class='large-1 columns'>
        <b>Price</b>
      </div>
      <div class='large-1 columns'>
        <b>Size</b>
      </div>
      <div class='large-4 columns'>
        <b>Location</b>
      </div>
      <div class='large-2 columns'>
        <b>Remove</b>
      </div>
    </div>
    <% @active_specials.each do |bs| %>
    <div class="row">
      <%= form_for bs, html: { data: {remote: true } } do |f| %>
      <%= f.hidden_field :bar_id %>
      <div class="large-2 columns">
        <%= f.label :special_description, bs.special_description %>
        <%= f.text_field :special_description, class: 'input-text hide' %>
      </div>
      <div class="large-2 columns">
        IPA
      </div>
      <div class="large-1 columns">
        <%= f.label :sale_price, number_to_currency(bs.sale_price) %>
        <%= f.text_field :sale_price, class: 'input-text hide' %>
      </div>
      <div class="large-1 columns">
         <%= f.label :beer_size, "#{bs.beer_size}oz" %>
         <%= f.text_field :beer_size, class: 'input-text hide' %>
      </div>
      <div class="large-4 columns">
        <%= bs.bar_name %>
      </div>
      <div class="large-2 columns">
        <%= link_to "X", end_beerance_path(bs), class: 'remove', data: {remote: true} %>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
</div>
<% else %>
  <h2 style='text-align: center; width: 100%;margin-top: 20px;'>You have no specials</h2>
<% end %>