<% title "Account Details - " %>

<div class="row heading">
    <div class="large-9 columns">
        <img alt="Beerance_baricon" src="/assets/beerance_kegicon.png"><h2>Update Account Information</h2>
    </div>
</div>

<%= form_for @user do |f| %>  
  <% if @user.errors.any? %>  
    <div class="error_messages">  
      <h4>Something isn't quite right...</h4>
      <ul>  
        <% for message in @user.errors.full_messages %>  
          <li><%= message.gsub('202 username', 'Email') %></li>  
        <% end %>  
      </ul>  
    </div>  
    <br />
  <% end %>  
  
    <%= f.label :email %><br />  
    <%= f.email_field :username %>  

    <%= f.label :owner_name, "Name" %><br />  
    <%= f.text_field :owner_name %>  

    <%= f.label :owner_phone, "Phone" %><br />  
    <%= f.phone_field :owner_phone %>  
  
  <p>
    <%= f.submit "Update Account Information", class: 'small button radius shadow' %>
    <%= link_to "Cancel", account_details_path, class: 'red small button radius' %> 
  </p>
<% end %>  
