<h3>List of Users</h3>
<h4 class="subheader">Admin view only of course :)</h4>
<hr />

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Admin?</th>
      <th>Actions</th>
      <th>Danger Zone!</th>
  </tr>
  </thead>
  <tbody>
  <% User.all.each do |u| %>
    <tr>
      <td><%= link_to u.username, user_path(u) %></td>
      <td><%= u.admin? ? 'yes' : '' %></td>
      <td>
        <%= link_to "Edit", edit_user_path(u) %>
      </td>
      <td style="<%= u.id == current_user.id ? 'border: 3px solid #fcabab;' : '' %>">
        <%= link_to "Delete", user_path(u), method: 'delete', data: {confirm: "Are you sure?"} %> | 
        <% if u.admin? %>
          <%= link_to "Remove Admin", remove_admin_path(id: u.id) %>
        <% else %>
          <%= link_to "Make Admin", make_admin_path(id: u.id) %>
        <% end %>
        <%= u.id == current_user.id ? " <- This is YOU!" : "" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
