<h3>Sign Up For Beerance</h3>
<h4 class="subheader">Get started today!</h4>
<hr />

<div class='row'>
  <div class='large-5 columns'>
    <p>Cool paragraphs!</p>
    <p>Cool paragraphs!</p>
    <p>Cool paragraphs!</p>
    <p>Cool paragraphs!</p>
    <p>Cool paragraphs!</p>
    <p>Cool paragraphs!</p>
    <p>Cool paragraphs!</p>
    <p>Cool paragraphs!</p>
    <p>Cool paragraphs!</p>
    <p>Cool paragraphs!</p>
    <p>Cool paragraphs!</p>
    <p>Cool paragraphs!</p>
    <p>Cool paragraphs!</p>
    <p>Cool paragraphs!</p>
  </div>
  <div class='large-7 columns'>
    <fieldset>
    <%= form_for @user do |f| %>  
      <% if @user.errors.any? %>  
        <div class="error_messages">  
          <h4>Form is invalid</h4>  
          <ul>  
            <% for message in @user.errors.full_messages %>  
              <li><%= message %></li>  
            <% end %>  
          </ul>  
        </div>  
      <% end %>  
      <p>
        <%= f.label :email %><br />  
        <%= f.email_field :username, placeholder: 'email@domain.com', class: 'required' %>  
      </p>
      <p>  
        <%= f.label :owner_name, "Your Name" %><br />  
        <%= f.text_field :owner_name, placeholder: 'First Last', class: 'required' %>  
      </p>
      <p>  
        <%= f.label :owner_phone, "Business Phone Number" %><br />  
        <%= f.phone_field :owner_phone, placeholder: '216-123-4567', class: 'required' %>  
      </p>  
      <p>  
        <%= f.label :password %><br />  
        <%= f.password_field :password, class: 'required' %>  
      </p>  
      <p>  
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class: 'required' %>  
      </p>  
      <p><%= f.submit "Sign Up", class: 'button nice radius' %></p>  
    <% end %>  
    </fieldset>
  </div>
</div>