<% title "My Beerances - " %>
<%= render partial: 'shared/user_subnav' %>
<style>
h4 a {color: #AAA;}
.content {padding-bottom: 0 !important;}
.hour-label { margin-top: 4px !important; }
.rounded-box {padding: 20px;min-height: 400px;}
.specials > div > div, .archives > div > div {text-align: center;}

.specials > div, .archives > div {
  padding: 2px;
  border-left: 1px solid #7A4225;
  border-right: 1px solid #7A4225;
  border-bottom: 1px solid #7A4225;
}
.specials > div:nth-child(odd), .archives > div:nth-child(odd) {background: #7A4225;}
.specials > div:nth-child(even), .archives > div:nth-child(even) {background: tan;}
.specials > div.thead, .archives > div.thead {background: #311308;}
.orange_grad > div {color: white;}
.info .beer .button {
  margin: 0;
  width: 150px;
  margin-bottom: 20px;
}
#ajax_bar {
  background: #FFF;
}
.remove:hover {
  color: tan;
  -webkit-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
}
.re-activate {
  color: #c26816;
}

.re-activate:hover {
  color: #c26816;
  text-decoration: underline;
}
.remove {
  background: #311308;
  border-radius: 20px;
  padding: 8px 12px;
  color: white;
  text-decoration: none;
}

#ajax_bar {
  background: transparent !important;
  text-align: center;
  color: white;
  width: 220px;
  height: 200px;
  position: fixed;
  left: 45%;
  top: 36%;
  z-index: 999;
  padding: 38px;
  background-position: 75px 90px;
  background-repeat: no-repeat;
  border: none;
  box-shadow: none;
  border-radius: 4px;
  background: none;
}

.bar-row {
  background: white;
  margin-bottom: 4px;
  color: #c26816;
  border-radius: 22px;
}

fieldset {
  border-radius: 22px;
  color: #c26816;
}
</style>

<div class="purple_grad">
  <div class="row home-promo">
    <div class='large-12 columns'>
      <h3>Welcome, <%= current_user.owner_name %></h3>
    </div>
  </div>
</div>

<div class="orange_grad">
  <div class="row badge-desc">
    <br />
  </div>
  <div class="row info rounded-box">
    <div class='large-12 columns'>
      <div class="row">
        <div class="large-12 columns beer">
          <div class='ajax-container'>
            <%= render partial: 'current_specials' %>
          </div>          
          </div>
        </div>
    </div>
  <br />
  </div>
</div>
        
</div>
    <div id="new_special" class="reveal-modal xlarge">
      <h3 class="blue">Add a new Special</h3>
      <p class="lead">Simply fill out the form.</p>
      <hr />
      <div class='row'>
        <div class='twelve columns'>
          <style>
            label.active img {border: 2px solid brown;box-shadow: 0 1px 3px #CCC}
            label.active img:hover {border: 2px solid brown;}
            input[type="radio"],  span.custom.radio {display: none;}
          </style>
          <script>
            $(document).ready(function() {
              $('input[type="radio"]').live('change', function() {
                $('label').removeClass('active');
                $(this).parent().addClass('active');
              });
            });
          </script>
          <fieldset>
          <%= form_for @bar_special, html: {class: 'custom'} do |f| %>  
            <% if @bar_special.errors.any? %>  
              <div class="error_messages">  
                <h2>Form is invalid</h2>  
                <ul>  
                  <% for message in @bar_special.errors.full_messages %>  
                    <li><%= message %></li>  
                  <% end %>  
                </ul>  
              </div>  
            <% end %>  
            <div class="large-6 columns"> 
            <p>  
              <%= f.label :bar_id, "Select your bar" %><br />  
              <%= f.select :bar_id, BarEntity.where(bar_owner_id: current_user.id).map {|b| [b.bar_name, b.id]}, include_blank: true %>  
            </p>  
            <p>  
              <%= f.label :special_description %><br />  
              <%= f.text_field :special_description, placeholder: 'Usually the name of the beer', class: 'required' %>  
            </p>  
            <p>  
              <%= f.label :sale_price %><br />  
              <%= f.text_field :sale_price, placeholder: '3.99', class: 'required' %>  
            </p>
            </div> 
            <div class="large-6 columns"> 
               <p>  
                <%= f.label :beer_size %><br />  
                <%= f.select :beer_size, [['9oz.', 9],['12oz.', 12],['16oz.', 16]] %>  
              </p>  
              <p>  
                <%= f.label :beer_color, "Choose a beer color" %>
              </p> 
              <div class="row beer-colors">
                <div class="large-3 columns">
                  <label class='active'>
                    <%= f.radio_button :beer_color, 0 %>
                    <%= image_tag "beerance_pint.png" %>
                  </label>
                </div>
                <div class="large-3 columns">
                  <label>
                    <%= f.radio_button :beer_color, 1 %>
                    <%= image_tag "beerance_pint.png" %>
                  </label>
                </div>
                <div class="large-3 columns">
                  <label>
                    <%= f.radio_button :beer_color, 2 %>
                    <%= image_tag  "beerance_pint.png" %>
                  </label>
                </div>
                <div class="large-3 columns">
                  <label>
                    <%= f.radio_button :beer_color, 3 %>
                    <%= image_tag "beerance_pint.png" %>
                  </label>
                </div>
              </div>
            </div>
            <hr />
            <p><%= f.submit "Add Special", class: 'button nice radius expanded' %></p>  
          <% end %>  
          </fieldset>  
        </div>              
      </div>  
      <a class="close-reveal-modal">&#215;</a>
    </div>
