<style>
h4 a {color: #AAA;}
.hour-label { margin-top: 4px !important; }
</style>
<h3>Your Profile</h3>
<h4 class="subheader">View your profile below</h4>
<hr />

<script>
  function fix() {$(window).trigger("resize");}
  setTimeout(fix, 1000);
</script>

<div class='row'>
  <%#= link_to "Cancel Subscription", cancel_subscription_path, data: {confirm: "Are you really sure?"}, class: 'alert small button radius' %>
  <%#= link_to "Start Subscription", new_charge_path, class: 'small button radius' %>  

      <div class="section-container tabs" data-section="tabs">
        <section class="section">
          <p class="title"><a href="#">Current Specials</a></p>
          <div class="content">
            <div class="row">
              <div class="large-12 columns">
                <h4>Specials</h4>
                <hr />
                <%= link_to "New Special", "#", data: {reveal_id: "new_special"}, title: "New Special", class: 'small button radius' %>
                <div class="row">
                  <div class='large-5 columns'>
                    Special Description
                  </div>
                  <div class='large-1 columns'>
                    Price
                  </div>
                  <div class='large-1 columns'>
                    Size
                  </div>
                  <div class='large-2 columns'>
                    Location
                  </div>
                  <div class='large-3 columns'></div>
                </div>
                <hr />
                <% @active_specials.each do |bs| %>
                <div class="row">
                  <div class="large-5 columns">
                    <%= beer_color_image bs.beer_color %> <%= bs.special_description %>
                  </div>
                  <div class="large-1 columns">
                    <%= number_to_currency bs.sale_price %>
                  </div>
                  <div class="large-1 columns">
                     <%= bs.beer_size %>oz.
                  </div>
                  <div class="large-2 columns">
                    <%= bs.bar_name %>
                  </div>
                  <div class="large-3 columns">
                    <%= link_to "End Beerance", end_beerance_path(:id => bs.id), class: 'small button radius expanded' %>
                  </div>
                </div>
                <hr />
                <% end %>
              </div>
            </div>
          </div>
        </section>
        <section class="section">
          <p class="title"><a href="#">Archive</a></p>
          <div class="content">
            <div class="row">
              <div class="large-12 columns">
                <h4>Specials</h4>
                <hr />
                <div class="row">
                  <div class='large-5 columns'>
                    Special Description
                  </div>
                  <div class='large-1 columns'>
                    Price
                  </div>
                  <div class='large-1 columns'>
                    Size
                  </div>
                  <div class='large-2 columns'>
                    Location
                  </div>
                  <div class='large-3 columns'></div>
                </div>
                <hr />
                <% @inactive_specials.each do |bs| %>
                <div class="row">
                  <div class="large-5 columns">
                    <%= beer_color_image bs.beer_color %> <%= bs.special_description %>
                  </div>
                  <div class="large-1 columns">
                    <%= number_to_currency bs.sale_price %>
                  </div>
                  <div class="large-1 columns">
                     <%= bs.beer_size %>oz.
                  </div>
                  <div class="large-2 columns">
                    <%= bs.bar_name %>
                  </div>
                  <div class="large-3 columns">
                    <%= link_to "Reactive Beerance", reactivate_beerance_path(:id => bs.id), class: 'small button radius expanded' %>
                  </div>
                </div>
                <hr />
                <% end %>
              </div>
            </div>
          </div>
        </section>
        <section class="section <%= has_a_bar? %>">
          <p class="title"><a href="#">Bar Info</a></p>
          <div class="content bar-list">
            <%= render partial: 'bar_list' %>
          </div>
        </section>
      </div>

</div>

    <div id="new_special" class="reveal-modal xlarge">
      <h3 class="blue">Add a new Special</h3>
      <p class="lead">Simply fill out the form.</p>
      <hr />
      <div class='row'>
        <div class='twelve columns'>
          <style>
            label.active img {border: 2px solid brown;box-shadow: 0 1px 3px #CCC}
            label.active img:hover {border: 2px solid brown;}
            input[type="radio"],  span.custom.radio {display: none;}
          </style>
          <script>
            $(document).ready(function() {
              $('input[type="radio"]').live('change', function() {
                $('label').removeClass('active');
                $(this).parent().addClass('active');
              });
            });
          </script>
          <fieldset>
          <%= form_for @bar_special, html: {class: 'custom'} do |f| %>  
            <% if @bar_special.errors.any? %>  
              <div class="error_messages">  
                <h2>Form is invalid</h2>  
                <ul>  
                  <% for message in @bar_special.errors.full_messages %>  
                    <li><%= message %></li>  
                  <% end %>  
                </ul>  
              </div>  
            <% end %>  
            <div class="large-6 columns"> 
            <p>  
              <%= f.label :bar_id, "Select your bar" %><br />  
              <%= f.select :bar_id, BarEntity.where(bar_owner_id: current_user.id).map {|b| [b.bar_name, b.id]}, include_blank: true %>  
            </p>  
            <p>  
              <%= f.label :special_description %><br />  
              <%= f.text_field :special_description, placeholder: 'Usually the name of the beer', class: 'required' %>  
            </p>  
            <p>  
              <%= f.label :sale_price %><br />  
              <%= f.text_field :sale_price, placeholder: '3.99', class: 'required' %>  
            </p>
            </div> 
            <div class="large-6 columns"> 
               <p>  
                <%= f.label :beer_size %><br />  
                <%= f.select :beer_size, [['9oz.', 9],['12oz.', 12],['16oz.', 16]] %>  
              </p>  
              <p>  
                <%= f.label :beer_color, "Choose a beer color" %>
              </p> 
              <div class="row beer-colors">
                <div class="large-3 columns">
                  <label class='active'>
                    <%= f.radio_button :beer_color, 1 %>
                    <%= image_tag "beer_icon_02.png" %>
                  </label>
                </div>
                <div class="large-3 columns">
                  <label>
                    <%= f.radio_button :beer_color, 2 %>
                    <%= image_tag "beer_icon_03.png" %>
                  </label>
                </div>
                <div class="large-3 columns">
                  <label>
                    <%= f.radio_button :beer_color, 3 %>
                    <%= image_tag "beer_icon_04.png" %>
                  </label>
                </div>
                <div class="large-3 columns">
                  <label>
                    <%= f.radio_button :beer_color, 4 %>
                    <%= image_tag "beer_icon_05.png" %>
                  </label>
                </div>
              </div>
            </div>
            <hr />
            <p><%= f.submit "Add Special", class: 'button nice radius expanded' %></p>  
          <% end %>  
          </fieldset>  
        </div>              
      </div>  
      <a class="close-reveal-modal">&#215;</a>
    </div>
