<% title "My Beerances - " %>

<script>
$('label').live('click', function() {
  $(this).hide();
  $(this).next('input.hide').show();
  $(this).next('input.hide').focus();
});

$('input.hide').live('blur', function() {
  $(this).hide();
  $(this).prev('label').show();
  
  if ($(this).val() != $(this).prev('label').text()){
    $('.ajax-container').fadeOut('fast');
    $(this).closest('form').submit();
  }
})

$('.cancel-new-bar').live('click', function() {
  $('#new_bar_entity').parent().fadeOut().delay(1000).remove();
});

$(document).ready(function() {
    $('input[type="radio"]').live('change', function() {
        $('label').removeClass('active');
		$(this).parent().addClass('active');
    });
});
</script>

<div class='large-12 columns'>
	<div class="row">
    	<div class="large-12 columns">
        	<div class='ajax-container'>
              <% if current_user.bars.count > 0 %>
                <%= render partial: 'current_specials' %>
              <% else %>
              	<%= render partial: 'bars' %>
              <% end %>
            </div>          
        </div>
    </div>
</div>

<div id="new_special" class="reveal-modal xlarge">
	<h2 style='color: #c26816;'>Add a new Special</h2>
    <p class="lead">Simply fill out the form.</p>
    <hr />
	<div class='row'>
    	<div class='twelve columns'>
			<fieldset>
				<%= form_for @bar_special, html: {class: 'custom'} do |f| %>  
				<% if @bar_special.errors.any? %>  
					<div class="error_messages">  
						<h2>Form is invalid</h2>  
						<ul>  
							<% for message in @bar_special.errors.full_messages %>  
							<li><%= message %></li>  
							<% end %>  
						</ul>  
					</div>  
				<% end %>  
					<div class="large-6 columns"> 
						<p>  
							<%= f.label :bar_id, "Select your bar" %><br />  
							<%= f.select :bar_id, BarEntity.where(bar_owner_id: current_user.id).map {|b| [b.bar_name, b.id]}, prompt: 'Choose A Bar' %>  
						</p>  
						<p>  
							<%= f.label :special_description %><br />  
							<%= f.text_field :special_description, placeholder: 'Usually the name of the beer', class: 'required' %>  
						</p>  
						<p>  
							<%= f.label :sale_price %><br />  
							<%= f.text_field :sale_price, placeholder: '3.99', class: 'required' %>  
						</p>
					</div> 
					<div class="large-6 columns"> 
						<p>  
							<%= f.label :beer_size %><br />  
							<%= f.select :beer_size, [['9oz.', 9],['12oz.', 12],['16oz.', 16]] %>  
						</p>  
						<p>  
							<%= f.label :beer_color, "Choose a beer color" %>
						</p> 
					</div>
					<div class="row beer-colors">
						<div class="large-3 columns">
							<label class='active'>
								<%= f.radio_button :beer_color, 0 %>
								<%= image_tag "beerance_pint.png" %>
							</label>
						</div>
						<div class="large-3 columns">
							<label>
								<%= f.radio_button :beer_color, 1 %>
								<%= image_tag "beerance_pint.png" %>
							</label>
						</div>
						<div class="large-3 columns">
							<label>
								<%= f.radio_button :beer_color, 2 %>
								<%= image_tag  "beerance_pint.png" %>
							</label>
						</div>
						<div class="large-3 columns">
							<label>
								<%= f.radio_button :beer_color, 3 %>
								<%= image_tag "beerance_pint.png" %>
							</label>
						</div>
					</div>
				</div>
            <hr />
            <p><%= f.submit "Add Special", class: 'button nice radius expanded' %></p>  
          <% end %>  
          </fieldset>  
        </div>              
    <a class="close-reveal-modal">&#215;</a>
  </div>  
</div>
