<style>
h4 a {color: #AAA;}
.content {padding-bottom: 0 !important;}
.hour-label { margin-top: 4px !important; }
.specials > div > div, .archives > div > div {text-align: center;}
.specials > div > div a, .archives > div > div a {text-decoration: underline;}
.specials > div, .archives > div {
  padding: 16px;
  border-top: 1px solid #CCC;
}
.specials > div:nth-child(even), .archives > div:nth-child(even) {background: #DDD;}
</style>
<h3>Welcome, <%= current_user.owner_name %> <small><%= link_to "(account details)", account_path %></small></h3>

<script>
  function fix() {$(window).trigger("resize");}
  var timer_fixes = [100, 500, 1000];
  for (var i=0;i<timer_fixes.length;i++) {
    setTimeout(fix, timer_fixes[i]);
  }
</script>

<div class='row'>
      <div class="section-container tabs" data-section="tabs">
        <% if has_a_bar? %>
        <section class="section">
          <p class="title"><a href="#">Current Specials</a></p>
          <div class="content">
            <div class="row">
              <div class="large-12 columns specials">
                <%= link_to "New Special", "#", data: {reveal_id: "new_special"}, title: "New Special", class: 'small button radius' %>
                <div class="row">
                  <div class='large-2 columns'>
                    <b>Name</b>
                  </div>
                  <div class='large-2 columns'>
                    <b>Style</b>
                  </div>
                  <div class='large-1 columns'>
                    <b>Price</b>
                  </div>
                  <div class='large-1 columns'>
                    <b>Size</b>
                  </div>
                  <div class='large-4 columns'>
                    <b>Location</b>
                  </div>
                  <div class='large-2 columns'>
                    <b>Remove</b>
                  </div>
                </div>
                <% @active_specials.each do |bs| %>
                <div class="row">
                  <div class="large-2 columns">
                    <%= bs.special_description %>
                  </div>
                  <div class="large-2 columns">
                    IPA
                  </div>
                  <div class="large-1 columns">
                    <%= number_to_currency bs.sale_price %>
                  </div>
                  <div class="large-1 columns">
                     <%= bs.beer_size %>oz
                  </div>
                  <div class="large-4 columns">
                    <%= bs.bar_name %>
                  </div>
                  <div class="large-2 columns">
                    <%= link_to "X", end_beerance_path(bs) %>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </section>
        <section class="section">
          <p class="title"><a href="#">Archive</a></p>
          <div class="content">
            <div class="row">
              <div class="large-12 columns archives">
                <%= link_to "New Special", "#", data: {reveal_id: "new_special"}, title: "New Special", class: 'small button radius' %>
                <div class="row">
                  <div class='large-2 columns'>
                    <b>Name</b>
                  </div>
                  <div class='large-2 columns'>
                    <b>Style</b>
                  </div>
                  <div class='large-1 columns'>
                    <b>Price</b>
                  </div>
                  <div class='large-1 columns'>
                    <b>Size</b>
                  </div>
                  <div class='large-4 columns'>
                    <b>Location</b>
                  </div>
                  <div class='large-2 columns'>
                    <b>Reactivate</b>
                  </div>
                </div>
                <% @inactive_specials.each do |bs| %>
                <div class="row">
                  <div class="large-2 columns">
                    <%= bs.special_description %>
                  </div>
                  <div class="large-2 columns">
                    IPA
                  </div>
                  <div class="large-1 columns">
                    <%= number_to_currency bs.sale_price %>
                  </div>
                  <div class="large-1 columns">
                     <%= bs.beer_size %>oz
                  </div>
                  <div class="large-4 columns">
                    <%= bs.bar_name %>
                  </div>
                  <div class="large-2 columns">
                    <%= link_to "Reactivate", reactivate_beerance_path(bs) %>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </section>
        <% end %>
        <section class="section">
          <p class="title"><a href="#"><%= my_bars @bar_entities.all.count %></a></p>
          <div class="content bar-list">
            <%= render partial: 'bar_list' %>
          </div>
        </section>
      </div>

</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
    <div id="new_special" class="reveal-modal xlarge">
      <h3 class="blue">Add a new Special</h3>
      <p class="lead">Simply fill out the form.</p>
      <hr />
      <div class='row'>
        <div class='twelve columns'>
          <style>
            label.active img {border: 2px solid brown;box-shadow: 0 1px 3px #CCC}
            label.active img:hover {border: 2px solid brown;}
            input[type="radio"],  span.custom.radio {display: none;}
          </style>
          <script>
            $(document).ready(function() {
              $('input[type="radio"]').live('change', function() {
                $('label').removeClass('active');
                $(this).parent().addClass('active');
              });
            });
          </script>
          <fieldset>
          <%= form_for @bar_special, html: {class: 'custom'} do |f| %>  
            <% if @bar_special.errors.any? %>  
              <div class="error_messages">  
                <h2>Form is invalid</h2>  
                <ul>  
                  <% for message in @bar_special.errors.full_messages %>  
                    <li><%= message %></li>  
                  <% end %>  
                </ul>  
              </div>  
            <% end %>  
            <div class="large-6 columns"> 
            <p>  
              <%= f.label :bar_id, "Select your bar" %><br />  
              <%= f.select :bar_id, BarEntity.where(bar_owner_id: current_user.id).map {|b| [b.bar_name, b.id]}, include_blank: true %>  
            </p>  
            <p>  
              <%= f.label :special_description %><br />  
              <%= f.text_field :special_description, placeholder: 'Usually the name of the beer', class: 'required' %>  
            </p>  
            <p>  
              <%= f.label :sale_price %><br />  
              <%= f.text_field :sale_price, placeholder: '3.99', class: 'required' %>  
            </p>
            </div> 
            <div class="large-6 columns"> 
               <p>  
                <%= f.label :beer_size %><br />  
                <%= f.select :beer_size, [['9oz.', 9],['12oz.', 12],['16oz.', 16]] %>  
              </p>  
              <p>  
                <%= f.label :beer_color, "Choose a beer color" %>
              </p> 
              <div class="row beer-colors">
                <div class="large-3 columns">
                  <label class='active'>
                    <%= f.radio_button :beer_color, 0 %>
                    <%= image_tag "black.png" %>
                  </label>
                </div>
                <div class="large-3 columns">
                  <label>
                    <%= f.radio_button :beer_color, 1 %>
                    <%= image_tag "red.png" %>
                  </label>
                </div>
                <div class="large-3 columns">
                  <label>
                    <%= f.radio_button :beer_color, 2 %>
                    <%= image_tag "pale.png" %>
                  </label>
                </div>
                <div class="large-3 columns">
                  <label>
                    <%= f.radio_button :beer_color, 3 %>
                    <%= image_tag "amber.png" %>
                  </label>
                </div>
              </div>
            </div>
            <hr />
            <p><%= f.submit "Add Special", class: 'button nice radius expanded' %></p>  
          <% end %>  
          </fieldset>  
        </div>              
      </div>  
      <a class="close-reveal-modal">&#215;</a>
    </div>
