<style>
h4 a {color: #AAA;}
</style>
<h3>Your Profile</h3>
<h4 class="subheader">View your profile below</h4>
<hr />

<%#= link_to "Add Bar", new_bar_entity_path, class: 'success small button nice radius' %>
<% if @bar_entities.blank? %>
<style>
h1 {
  font-size: 56px;
  line-height: 100px;
  font-weight: normal;
  color: #A87250;
}
.uh-oh {  
  text-align: center;
}
</style>
<div class="uh-oh">
  <h1>Uh-oh!</h1>
  <p>You haven't added your bar yet. You can add it <%= link_to "here", new_bar_entity_path %>.</p>
</div>

<% else %>
<script>
  function fix() {$(window).trigger("resize");}
  setTimeout(fix, 1000);
</script>

<div class='row'>
  <%= link_to "Cancel Subscription", cancel_subscription_path, data: {confirm: "Are you really sure?"}, class: 'alert small button radius' %>
  <%= link_to "Start Subscription", new_charge_path, class: 'small button radius' %>
  <%= link_to "New Bar", new_bar_entity_path, class: 'success small button radius' %>
  <% @bar_entities.each do |bar| %>

      <div class="row">
        <div class="large-8 columns"><h4><%= bar.bar_name %> <small>(<%= link_to "Edit", edit_bar_entity_path(bar) %>)</small></h4></div>
        <div class="large-4 columns"><span class="right"><%#= link_to "Delete", bar_entity_path(bar), method: 'delete', class: 'red', data: {confirm: "Are you sure?"} %></span></div>
      </div>

      <div class="section-container tabs" data-section="tabs">
        <section class="section">
          <p class="title"><a href="#">Current Specials</a></p>
          <div class="content">
            <div class="row">
              <div class="large-12 columns">
                <h4>Specials</h4>
                <hr />
                <%= link_to "New Special", new_bar_special_path, class: 'small button radius' %>
                <% BarSpecial.where(bar_id: bar.id).each do |bs| %>
                <ul class="inline-list">
                  <li><%= bs.special_description %></li>
                  <li><%= number_to_currency bs.sale_price %></li>
                  <li><%= beer_color_image bs.beer_color %></li>
                  <li><%= bs.beer_size %>oz.</li>
                  <li><%= link_to "End Clearance" %></li>
                </ul>
                <% end %>
              </div>
            </div>
          </div>
        </section>
        <section class="section">
          <p class="title"><a href="#">Archive</a></p>
          <div class="content">
            <div class="row">
              <div class="large-12 columns">
                <h4>Specials</h4>
                <hr />
                <% BarSpecial.where(bar_id: bar.id).each do |bs| %>
                <ul class="inline-list">
                  <li><%= bs.special_description %></li>
                  <li><%= number_to_currency bs.sale_price %></li>
                  <li><%= beer_color_image bs.beer_color %></li>
                  <li><%= bs.beer_size %>oz.</li>
                  <li><%= link_to "End Clearance" %></li>
                </ul>
                <% end %>
              </div>
            </div>
          </div>
        </section>
        <section class="section">
          <p class="title"><a href="#">Bar Info</a></p>
          <div class="content">
            <div class="row">
              <div class="large-6 columns">
                <h4>Information</h4>
                <hr />
                <%= bar.bar_addr1 %><br />
                <% unless bar.bar_addr2.blank? %>
                  <%= bar.bar_addr2 %><br />
                <% end %>
                <%= bar.bar_city %>, <%= bar.bar_state %> <%= bar.bar_zip %><br />
                <%= bar.bar_phone %><br />
                <%= link_to bar.bar_url, "#{bar.bar_url}", target: :_blank %>
                <br />
                <br />
                <br />
                <%= link_to 'Add a special', new_bar_special_path, class: 'button small nice radius' %>
              </div>
              <div class="large-6 columns">
                <h4>Hours</h4>
                <hr />
                <ul>
                  <li><b>Monday:</b> <%= bar.hours_mon %></li>
                  <li><b>Tuesday:</b> <%= bar.hours_tues %></li>
                  <li><b>Wednesday:</b> <%= bar.hours_wed %></li>
                  <li><b>Thursday:</b> <%= bar.hours_thur %></li>
                  <li><b>Friday:</b> <%= bar.hours_fri %></li>
                  <li><b>Saturday:</b> <%= bar.hours_sat %></li>
                  <li><b>Sunday:</b> <%= bar.hours_sun %></li>
                </ul>
                <br />
              </div>
            </div>
          </div>
        </section>
      </div>

  <% end %>
</div>

<% end %>