<h3>My Account</h3>
<h4 class="subheader">for <%= current_user.username %></h4>
<hr />

<%= link_to "Edit My Account", '#' %>
<h3>Statistics</h3>
<ul>
  <li>You manage <%= pluralize @total_bars, 'bar' %></li>
  <li>You've posted <%= pluralize @total_specials, 'Beerance', 'Beerances' %></li>
  <li>Member Since: <%= current_user.createdAt.to_date.strftime("%-m/%-d/%Y") %></li>
</ul>

<h3>My Beerance Plan</h3>
<hr />
<br />
<% if current_user.subscription %>
  <%= link_to "Change My Plan", '#' %><br />
  <%= current_user.subscription.plan.friendly_name %><br />
  <%= number_to_currency current_user.subscription.plan.amount/100 %><br />
  Cost per month: <%= number_to_currency current_user.subscription.plan.cost_per_month %>
  <br />
  <br />
  You have <b><%= pluralize current_user.subscription.days_remaining, 'day' %></b> remaining
  <br />
  <br />
<% else %>
  <p style="text-align:center;">
    It looks like you don't have a plan yet :(
    <br />
    <br />
    <%= link_to "Choose A Plan", '#', class: 'button radius' %>
  </p>
<% end %>