<% title "Account Details - " %>

<div class='large-12 columns'>
  <div class="row">
      <div class="large-12 columns">
          <div class='ajax-container'>
              <div class="row heading">
                <div class="large-9 columns">
                  <%= image_tag "beerance_kegicon.png" %><h2><%= current_user.name %>'s Account</h2>
                </div>
              </div>

              <div class='row'>  
                  <div class="large-12 columns user_info">
                      <h2>Info</h2>
                      <span><b>Name:</b> <%= current_user.name %></span>
                      <span><b>Email:</b> <%= current_user.email %></span>
                      <span><b>Phone:</b> <%= number_to_phone current_user.phone, area_code: true %></span>                      
                      <span><%= link_to "Change Account Information or Password", edit_registration_path('user') %></span>
                  </div>
              </div>
              <div class='row'>  
                <div class="large-12 columns">
                      <h2>Statistics</h2>
                      <ul>
                        <li>You manage <%= pluralize current_user.bars.count, 'bar' %></li>
                        <li>You've posted <%= pluralize current_user.bar_specials.count, 'Beerance', 'Beerances' %></li>
                        <li>Member Since: <%= current_user.created_at.to_date.strftime("%-m/%-d/%Y") %></li>
                      </ul>
                  </div>
              </div>
              
            </div>          
        </div>
    </div>
</div>
