<div class='subnav hide-for-small'>
  <div class='row'>
    <div class="large-12 columns">
      <%= link_to "Admin Panel", admin_path, class: is_current?('index') %>
      <%= link_to "User List", admin_users_path, class: are_current?(%w{user_index user_show}) %>
      <%= link_to "News Subscriptions", news_subscriptions_path, class: is_current?('news_subscriptions') %>
      <%= link_to "SEO", edit_meta_tag_path, class: is_current?('edit') %>
      <%= link_to "Feedback", admin_feedback_path, class: is_current?('admin_index') %>
    </div>
  </div>
</div>
