    <div class="footer_wrap">
      <div class="row">      
      <div class="large-12 columns">
        <footer id="footermain" class="container">
          <div>
            <!--<ul>
              <li><h2>Support:</h2></li>
              <li>FAQs</li>
              <li>Blog</li>
              <li>Twitter</li>
              <li>Email Us</li>
            </ul>-->
            <ul>
              <li><h2>Follow Us:</h2></li>
              <li><a href="https://www.facebook.com/Beerance" target="_blank">Facebook</a></li>
              <li><a href="https://twitter.com/beeranceapp" target="_blank">Twitter</a></li>
            </ul>
            <!--<ul>
              <li><h2>You Should Know:</h2></li>
              <li><%= link_to "Terms of Use", tos_path %></li>
              <li><%= link_to "Privacy Policy", privacy_path %></li>
              <li><%= link_to "Recent Updates", recent_updates_path, class: 'large-6' %></li>
            </ul>-->
            <span class="copy hide-for-small">© <%= Date.today.year %> Beerance Company LLC</span>
            
            <%= link_to "Send Us Feedback", "feedback", :title => "Send Us Feedback", class: 'copy feedbackfooter' %>
            <% if current_user %>
              <%= link_to "Log Out", log_out_path, :title => "Log Out", class: 'copy loginfooter' %>
            <% else %>
              <%= link_to "Log In", log_in_path, :title => "Log In", class: 'copy loginfooter' %>
            <% end %>
          </div>
          <!--<div class="row spacing top bottom show-for-small">
            <dl>
              <dd><%= link_to "About", "about_path", :title => "About" %></dd>
              <dd><%= link_to "Media", "broadcast_path", :title => "Media" %></dd>
              <dd><%= link_to "Privacy Policy", privacy_path %></dd>
              <dd><%= link_to "Terms of Use", tos_path %></dd>
              <% if current_user %>
              <dd><%= link_to "My Account", "edit_user_path", :title => "My account" %>
              <dd><%= link_to "Sign Out", log_out_path, :title => "Sign out" %></dd>
              <% else %>
              <dd><%= link_to "Sign In", log_in_path, :title => "Sign in" %></dd>
              <% end %>
            </dl>
            <span class="text-align: center">© <%= Date.today.year %> Beerance Company LLC</span>
          </div>-->
        </footer>
      </div>
    </div>
  </div>