<% cache do %>
    <div class="footer_wrap">
      <div class="row">      
      <div class="large-12 columns">
        <footer id="footermain" class="container">
          <div>
            <!--
            <ul>
              <li><h2>Support:</h2></li>
              <li>FAQs</li>
              <li>Blog</li>
              <li>Twitter</li>
              <li>Email Us</li>
            </ul>
            -->
            <ul>
              <li><h2>Follow Us:</h2></li>
              <li><a href="https://www.facebook.com/BeeranceApp" target="_blank">Facebook</a></li>
              <li><a href="https://www.twitter.com/BeeranceApp" target="_blank">Twitter</a></li>
            </ul>
            <!--
            <ul>
              <li><h2>You Should Know:</h2></li>
              <li><%= link_to "Terms of Use", tos_path %></li>
              <li><%= link_to "Privacy Policy", privacy_path %></li>
              <li><%= link_to "Recent Updates", recent_updates_path, class: 'large-6' %></li>
            </ul>
            
            <span class="copy left"><%= link_to 'log in', new_user_session_path %></span>-->
            <span class="copy hide-for-small">© <%= Date.today.year %> Beerance Company LLC</span>
          </div>
          <div class="row spacing top bottom show-for-small">
            <span style="position: absolute; left: 25px; top: 93px;">© <%= Date.today.year %> Beerance Company LLC</span>
          </div>
        </footer>
      </div>
    </div>
  </div>

<div id="newsLetter" class="reveal-modal small orange_grad" style="">
  <h2>News Letter</h2>
  <p class="lead">Be the first to know! Sign up today to receive Beerance app release dates, news and information.</p>
    <%= form_for @news_subscription, url: new_signup_path do |f| %>               
      <%= f.hidden_field :subscriber_type, value: "bar_drinker" %>
      <%= f.email_field :subscriber_email, placeholder: 'drinker@example.com', class: 'required' %>
      <%= submit_tag "Sign up", class: 'orange button radius full-width' %>
    <% end %>
  <a class="close-reveal-modal" style='color:white'>&#215;</a>
</div>
<% end %>