<% if flash[:notice] %>
  <div class='alert-box notice'><%= flash[:notice] %></div>
<% end %>

<% if flash[:error] %>
  <div data-alert class='alert-box alert'>
    <%= flash[:error] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>


<% if flash[:alert] %>
  <div data-alert class='alert-box alert'>
    <%= flash[:alert] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>


<div id="ajax_bar"><%= image_tag "ajax-loader.gif", height: 32, width: 32 %><br /><br />loading...</div>   

<div class="login hide orange_grad">
  <div class='row'>
    <%= form_for("user", :url => user_session_path) do |f| %>
      <div class='large-3 columns'>
        <%= f.label :email, 'Email',style: "font-family: 'Roboto Slab', serif !important;"  %>
        <%= f.email_field :email, id: 'header_user_email', class: 'required', tabIndex: 1 %>
        <label><%= f.check_box :remember_me, tabIndex: 3 %> Remember me</label>
      </div>
      <div class='large-3 columns'>
        <%= f.label :password, 'Password' %>
        <%= f.password_field :password, id: 'header_user_password', class: 'required', tabIndex: 2 %>
      </div>
      <div class='large-6 columns'>
        <br /><br />
        
        <%= f.submit "Log In", class: 'button' %>
        <%= link_to "Forgot your password?", new_password_path('user') %>
      </div>
    <% end %>  
  </div>
</div>

<nav class="top-bar">
  <section class="top-bar-section" id="menu">
    <a href="/" id="logo"></a>
		<% if user_signed_in? %>  
		  <ul class="right">
		    <li class="divider show-for-medium-and-up"></li>
		    <li><%= link_to "My Account", profile_path %>  </li>
		    <li class="divider show-for-medium-and-up"></li>
		  </ul>
		<% if current_user.admin? %>
		  <ul class="right">
		    <li class="divider show-for-medium-and-up"></li>
		    <li><%= link_to "Admin Portal", admin_path %></li>
		  </ul>
		<% end %>
		
		<ul class="right">
		    <li class="divider show-for-medium-and-up"></li>
		    <li>Hello, <%= current_user.name %><%= link_to "(Log out)", destroy_user_session_path, :method => :delete %></li>
		</ul>
		
		<% else %>
		  <ul class="right">
		    <li class="divider show-for-medium-and-up"></li>
		    <li><%= link_to "Register", new_registration_path(resource_name), id: 'register', title: "Register", class: 'whitelink' %></li>
		    <li class="divider show-for-medium-and-up"></li>
		  </ul>
		  <ul class="right">
		    <li class="divider show-for-medium-and-up"></li>
		    <li><%= link_to "Log In", "javascript:void(0)", id: 'login', title: "Log In", class: 'whitelink'%></li>
		  </ul>
		<% end %> 
  </section>
</nav>
