<script>
$('.subnav a[data-remote="true"]').live('click', function(e) {  
  $('.ajax-container').fadeOut()
  $('.subnav a').each( function() {
    $(this).removeClass('current');
    $(this).removeClass('active');
    $(this).removeAttr('disabled');
  });
  $(this).addClass('current');  
})
</script>

<div class='subnav hide-for-small'>
  <div class='row'>
    <div class="large-12 columns">    
      <%= link_to "Current Specials", current_specials_path, class: current_subnav('/my-beerances'), data: {remote: true} unless current_user.bars.count == 0 %>
      <%= link_to "Archived Specials", archived_specials_path, class: current_subnav('/my-beerances/archived'), data: {remote: true} unless current_user.bars.count == 0 %>
      <%= link_to "My Bars", bars_path, class: current_subnav(/\A\/bar.+/) %>      
      <%= link_to "Account Details", account_details_path, class: current_subnav('/account-details') %>
      <%= link_to "Billing", billing_overview_path, class: current_subnav(/\/billin.+/) unless current_user.admin? || current_user.bars.count == 0 %>
      <%= link_to "Feedback", feedback_path, class: current_subnav('feedback') %>
    </div>
  </div>
</div>
