<h2>Change Your Plan</h2>
<br />
<%= form_tag update_plan_path(@bar.id) do %>
  <div class="row">
    <% SubscriptionPlan.order("amount").each do |p| %>
    <div class="large-4 columns">
      <article>
        <label class="amount plan-box <%= 'active' if @bar.subscription_plan_id == p.id %>">
          <%= "<br />Current Plan".html_safe if @bar.subscription_plan_id == p.id %>
          <h5><%= p.friendly_name %></h5>
          <%= radio_button_tag :subscription_plan_id, p.id, (@bar.subscription_plan_id == p.id) %>
          <%= image_tag p.image %><br />
          <span><%= number_to_currency p.amount/100 %></span>
        </label>
      </article>
    </div>
    <% end %>
  </div>

  <%= submit_tag "Change Plan", class: 'button radius shadow', data: {confirm: "Do you really want to change your plan?"} %>
  <%= link_to "Cancel", billing_overview_path, class: 'red button radius shadow' %>
<% end %>

<ul>
  <li>Changing your plan charges your card immediately.</li>
  <li>If you downgrade a plan, you will be refunded your difference and charged the amount of the new plan.</li>
  <li>Changing your plan restarts your subscription start date to the day you change plans.</li>
</ul>