<% title "Billing - " %>

<div class='row'>  
    <div class="large-12 columns">
    <h2>Plan for <%= @bar.bar_name %></h2>
<% unless @bar.subscription.active? %>
<p class="centered" style="text-align:center"><br /><br /><br />You don't have an active subscription<br /><br /><%= link_to "Renew subscription", edit_plan_path(@bar.id), class: 'button radius shadow' %></p>
</div>
</div>
<% else %>
      <div class="row">
        <div class="large-3 columns user_info" style="text-align:center;padding-top: 29px;">  
            <%= image_tag 'beerance_mugicon.png' %><br />
            <span><%= @bar.subscription.nice_name %> </span>                
            <span><%= link_to "Change My Plan", edit_plan_path(@bar.id) %></span>
            <span><%= link_to_if !@bar.subscription.canceled?, "Cancel My Plan", cancel_subscription_path(@bar.id), data: {confirm: "Are you sure you would like to cancel your plan?"} %></span>
        </div>
        <div class="large-9 columns user_info">
          <span>Status: <%= @bar.subscription.status.capitalize %></span>
          <span><%= number_to_currency @bar.subscription.amount %></span>
          <span>Cost per month: <%= number_to_currency @bar.subscription_plan.cost_per_month %></span>
          <span>You have <b><%= pluralize @bar.subscription.days_remaining, 'day' %></b> remaining</span>
          <span>Ends on <b><%= @bar.subscription.end_date.strftime("%B %d, %Y") %></b></span>
          <% if @bar.subscription.canceled? %>
              <span style="font-size: 12px;padding: 0 0 0 10px; color: red"><em>Your plan was canceled on <%= @bar.subscription.canceled_at.strftime("%B %d, %Y") %>, and will not renew.</em></span>
          <% else %>
            <span style="font-size: 12px;padding: 0 0 0 10px;"><em>Your plan is set to auto renew for another <%= @bar.subscription_plan.length_in_months %> months</em></span>
          <% end %>
        </div>
      </div>    
    </div>
</div>

<div class='row'>  
    <div class="large-12 columns">
      <h2>Payment Info</h2>      
        <div class="row">
          <div class="large-12 columns user_info">
            <span>Name: <%= @bar.stripe_customer.active_card.name %></span>
            <span><%= @bar.stripe_customer.active_card.type %> - **** **** **** <%= @bar.stripe_customer.active_card.last4 %></span>
            <span><%= link_to "Update Payment Info", edit_card_path(@bar.id) %></span>
          </div>
        </div>    
    </div>
</div>
<% end %>
