<h2><%= @bar.name %></h2>
<ul>
  <li><b>M</b> <%= @bar.monday_hours %></li>
  <li><b>T</b> <%= @bar.tuesday_hours %></li>
  <li><b>W</b> <%= @bar.wednesday_hours %></li>
  <li><b>R</b> <%= @bar.thursday_hours %></li>
  <li><b>F</b> <%= @bar.friday_hours %></li>
  <li><b>S</b> <%= @bar.saturday_hours %></li>
  <li><b>S</b> <%= @bar.sunday_hours %></li>
</ul>
<a class="small orange button radius" href="http://<%= @bar.url %>">Website</a>
<a class="small orange button radius" href="https://map@google.com/?q=<%= @bar.latitude %>,<%= @bar.longitude %>">Directions</a>
<a class="small orange button radius" href="tel:<%= @bar.phone %>">Call</a>
<a class="close-reveal-modal">&#215;</a>
