<%= render partial: 'shared/subnav' %>
<div class="purple_grad">
	<div class="row home-promo">
		<div class="large-4 columns hide-for-small">
			<%= image_tag "beerance_iphone.png", class: 'iphone', height: 281, width: 456 %>
		</div>
		<div class="large-5 columns">
			<%= image_tag "beerance_tagline.png", class: 'slogan', height: 453, width: 238 %>
			<div class="row">
				<div class='large-12 columns userlinkx' style="padding:0;">
						<div class="large-6 small-6 columns">
							<h2>Beer Drinkers</h2>
	  					<br />
							<!--
							<a href="https://itunes.apple.com/us/app/beerance/id715736707?mt=8&uo=4" target="itunes_store" class='green button radius nice shadow'>Get the Free App</a>
							-->
							<a href="javascript:void(0)" class='green button radius nice shadow'>Coming Soon!</a>
	  				</div>
	  				<div class="large-6  small-6 columns">
		  				<h2>Bar Owners</h2>
	  					<br />
							<%= link_to "Sign Up", new_registration_path(resource_name), class: 'green button radius nice' %>
	  				</div>
		  		</div>
		  	</div>
		</div>
		<div class="large-3 columns">
		<div id="countdownwrap"><h2>We're Launching in:</h2><div id="noSeconds"></div></div>
		
			<%= image_tag "beerance_pint.png", class: 'pint hide-for-small', height: 193, width: 407 %>
		</div>
	</div>
</div>
<div class="orange_grad">
	<div class="row badge-desc">
		<div class='large-12 columns'>
			<div class="row">
				<div class="large-3 columns">
					<%= image_tag "beerance_badge.png", class: 'badge hide-for-small', height: 206, width: 234 %>
		  		</div>
		  		<div class="large-9 columns">
			  		<p>Beerance App connects beer drinkers to great craft beer specials at bars and restaurants in their local area. Whether it's micro or macro beers, bar owners post their beer special and Beerance locates and displays it to the beer connoisseur. It's a clearance sale for beer!</p>
		  		</div>
		  	</div>
		</div>
	</div>
	<div class="row info rounded-box">
		<div class='large-12 columns'>
			<div class="row">
				<div class="large-4 columns beer">
					<%= image_tag "beerance_mugicon.png", height: 63, width: 70 %><h2>Beer Drinkers</h2>
					<ul>
						<li>Free download</li>
						<li>Find craft beer specials in your neighborhood</li>
						<li>The app finds your location and lists beer style, price & bar location relative to your location</li>
						<li>Highlight your favorite spots</li>
						<li>Any town, any city, any country</li>
						<li>Share your favorite specials via Facebook and Twitter</li>
					</ul>
					<%= link_to "How it works", how_it_works_path, class: 'orange button radius shadow' %>
		  		</div>
		  		<div class="large-4 columns bar">
		  			<%= image_tag "beerance_baricon.png", height: 82, width: 73 %><h2>Bar Owners</h2>
		  			<ul>
						<li>Announce Beerance specials daily</li>
						<li>Move inventory quickly</li>
						<li>Connect with the mobile audience</li>
						<li>Attract new customers</li>
						<li>Create loyalty with existing customers</li>
						<li>Easy to use tools</li>
						<li>A low monthly cost</li>
					</ul>					
					<%= link_to "Sign Up for FREE!", new_registration_path(resource_name), class: 'orange button nice radius' %>
			  	</div>
		  		<div class="large-4 columns">
			  		<%= link_to new_registration_path(resource_name) do %>
			  		<div class="orange button radius shadow">
			  			<h2 class='promo-button'><span>Bar Owners:</span><br />Sign up today<br />and begin<br />your free trial</h2>
			  			<%= image_tag "beerance_kegicon.png", class: 'keg' %>
			  		</div>
			  		<% end %>
		  		</div>
		  	</div>
		</div>
	</div>

	<div class="row info rounded-box" style="margin-top: 130px;">
		<div class='large-12 columns'>
			<div class="row">
				<div class="large-4 columns">
					<h2 style='color: #b55a22 !important'>3 Month Plan</h2>
					<ul>
						<li>15 day FREE trial</li>
						<li>Standard Plan</li>
						<li>Plan renews every 3 months</li>
					</ul>
					<a class='orange button nice radius' href="javascript:void(0)">
						<span style='font-size: 43px'>$15<br />
						Per month</span>
					</a>
				</div>
				<div class="large-4 columns">
					<h2  style='color: #752201 !important'>6 Month Plan</h2>
					<ul>
						<li>30 day FREE trial</li>
						<li>Great Value</li>
						<li>Plan renews every 6 months</li>
					</ul>
					<a class='in-brown button nice radius' href="javascript:void(0)">
						<span style='font-size: 43px'>$12<br />
						Per month</span>
					</a>
				</div>
				<div class="large-4 columns">
					<h2  style='color: #74AE22 !important'>1 Year Plan</h2>
					<ul>
						<li>45 day FREE trial</li>
						<li>Best Value</li>
						<li>Plan renews once a year</li>
					</ul>
					<a class='green button nice radius' href="javascript:void(0)">
						<span style='font-size: 43px'>$10<br />
						Per month</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
