<%= render partial: 'shared/subnav' %>
<div class="purple_grad">
	<div class="row home-promo">
		<div class="large-4 columns">
			<%= image_tag "beerance_iphone.png", class: 'iphone hide-for-small', height: 281, width: 456 %>
		</div>
		<div class="large-5 columns">
			<%= image_tag "beerance_tagline.png", class: 'slogan', style: 'padding: 39px 0 30px 0;width: 100%;', height: 453, width: 238 %>
			<div class="row">
				<div class='large-12 columns' style="padding:0;">
						<div class="large-6 columns">
							<h2>Beer Drinkers</h2>
	  					<br />
							<a href="https://itunes.apple.com/us/app/beerance/id715736707?mt=8&uo=4" target="itunes_store" class='orange button radius'>Get the free app</a>
	  				</div>
	  				<div class="large-6 columns">
		  				<h2>Bar Owners</h2>
	  					<br />
							<%= link_to "Sign Up", new_registration_path(resource_name), class: 'orange button nice radius' %>
	  				</div>
		  		</div>
		  	</div>
		</div>
		<div class="large-3 columns">
			<%= image_tag "beerance_pint.png", class: 'pint hide-for-small', height: 193, width: 407 %>
		</div>
	</div>
</div>
<div class="orange_grad">
	<div class="row badge-desc">
		<div class='large-12 columns'>
			<div class="row">
				<div class="large-3 columns">
					<%= image_tag "beerance_badge.png", class: 'badge hide-for-small', height: 206, width: 234 %>
		  		</div>
		  		<div class="large-9 columns">
			  		<p>Beerance App connects beer drinkers to great craft beer specials at bars and restaurants in their local area. Whether it's micro or macro beers, bar owners post their beer special and Beerance locates and displays it to the beer connoisseur. It's a clearance sale for beer!</p>
		  		</div>
		  	</div>
		</div>
	</div>
	<div class="row info rounded-box">
		<div class='large-12 columns'>
			<div class="row">
				<div class="large-4 columns beer">
					<%= image_tag "beerance_mugicon.png", height: 63, width: 70 %><h2>Beer Drinkers</h2>
					<ul>
						<li>Free download</li>
						<li>Lists beer style, price, location</li>
						<li>Based on your location</li>
						<li>Highlight your favorite spots</li>
						<li>Any town, any city, any country</li>
						<li>Share your favorite specials via Facebook and Twitter</li>
					</ul>
					<%= link_to "How it works", how_it_works_path, class: 'orange button radius shadow' %>
		  		</div>
		  		<div class="large-4 columns bar">
		  			<%= image_tag "beerance_baricon.png", height: 82, width: 73 %><h2>Bar Owners</h2>
		  			<ul>
						<li>Move inventory quickly</li>
						<li>Connect with your mobile audience</li>
						<li>Announce Beerance Sales daily</li>
						<li>Low monthly cost</li>
						<li>Create loyalty</li>
						<li>Connect to mobile users</li>
						<li>Attract new customers</li>
					</ul>					
					<%= link_to "Sign Up for FREE!", new_registration_path(resource_name), class: 'orange button nice radius' %>
			  	</div>
		  		<div class="large-4 columns">
			  		<%= link_to new_registration_path(resource_name) do %>
			  		<div class="orange button radius shadow">
			  			<h2 class='promo-button'><span>Bar Owners</span><br />Sign up<br />today<br />and get<br />2 months<br />FREE!</h2>
			  			<%= image_tag "beerance_kegicon.png", class: 'keg' %>
			  		</div>
			  		<% end %>
		  		</div>
		  	</div>
		</div>
	</div>
</div>
