<% title('Map - ') %>
<style>
input[type="radio"] {
  display: none
}
.info ul {
  list-style-image:none;
}
label.small {
  font-size: 14px !important;
}
.button-group li:first-child label {
  border-radius: 8px 0 0 8px;
}

.button-group li:last-child label {
  border-radius: 0 8px 8px 0;
}
.star {
  margin-left: 20px;
  list-style-image: url("assets/beerance_staricon.png");
}
</style>
<script>
var map;
function initialize() {
  var mapOptions = {
    zoom: 10,
    center: new google.maps.LatLng(<%= @location[:lat] %>, <%= @location[:lon] %>),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  // Iterate through specials  
  var image = '<%= asset_path "pin.png" %>';
  <% @specials.each do |s| %>
    var myLatlng = new google.maps.LatLng(<%= s.bar_location.latitude %>,<%= s.bar_location.longitude %>);
    var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        title: '<%= s.bar.bar_name %>',
        icon: image
    });
  <% end %>
}
$(document).ready(function() {
  $('input[type="radio"]:checked').parent().addClass('brown')
  $('input[type="radio"]').on('change', function() {
    $('.button-group').find('label').removeClass('brown');
    $(this).parent().addClass('brown');
  })

  initialize();

  $('ul.special-bar').on('click', function() {
    var url = '/map/bar-info/' + $(this).data('bar-id');

    $.get(url, function(data) {
      $('#bar-info').html(data);      
    });
  });
});
</script>
<div class='large-8 columns'>
  <h5 class='centered'>Map</h5>
  <div id='map-canvas'></div>    

  <% @specials.each do |s| %>
  <ul data-reveal-id="bar-info" data-bar-id="<%= s.bar_id %>" class="special-bar" style="background-image: url('<%= asset_path s.beer_image %>'), url(assets/darkshelf.png);background-position: 15px 65px, left;background-repeat: no-repeat, no-repeat;">
    <li><b><%= s.special_description %></b></li>
    <li class='star'><%= s.bar_name %></li>
    <li><%= s.beer_size %> oz. - <%= s.distance_from("#{@location[:lat]}, #{@location[:lon]}") %> miles away</li>
    <div class='price'><%= number_to_currency s.sale_price %></div>
  </ul>
  <% end %>

  <% if @specials.blank? %>
    <ul class="special-bar" style="height: 450px; background-image: url('<%= asset_path "nospec.png" %>');background-position: left;background-repeat: no-repeat;"></ul>
  <% end %>
</div>

<div class='large-4 columns'>
  <h5 class='centered'><%= @location[:city] %></h5>
  <%= form_tag '' do %>
     <div class='row'>
      <div class="large-10 large-centered columns">
        <%= label_tag :zip %>
        <%= text_field_tag :zip, params[:zip] %>
      </div>
      <div class="large-10 large-centered columns">
        <%= label_tag :distance %>
      </div>
    </div>
    <div class='row'>      
      <ul class="button-group round even-3">
        <li><label class="small button"><%= radio_button_tag :distance, 5, (params[:distance].to_i == 5 ? true : false) %> 5 mi.</label></li>
        <li><label class="small button"><%= radio_button_tag :distance, 10, (params[:distance].to_i == 10 ? true : false) %> 10 mi.</label></li>
        <li><label class="small button"><%= radio_button_tag :distance, 25, (params[:distance].to_i == 25 ? true : false) %> 25 mi.</label></li>
      </ul>
    </div>
    
    <div class='row'>      
      <div class="large-10 large-centered columns">
        <%= submit_tag "Get Specials", class: 'orange button full-width' %>
      </div>
    </div>
  <% end %>  
</div>

<div id="bar-info" class="reveal-modal"></div>
