<% title 'Email List Signup - ' %>

<div class='row'>
	<div class='large-5 push-7 large columns'>
    	<p>Use this page to signup people for our mailing list which will alert them when the app is ready.</p>
		<div class="row hide-for-small">
			<div class="large-7 large-centered columns">
				<%= image_tag "beerance_badge.png", class: 'badge' %>
			</div>
		</div>
    </div>
    
    <div class='large-7 pull-5 large columns'>
    	<fieldset style="margin:0;">
	      <%= form_for @news_subscription, url: new_signup_path do |f| %>
        	<%= f.label :subscriber_name, "Their Name (optional)" %><br />
          <%= f.text_field :subscriber_name, placeholder: 'John Smith' %>
        
          <%= f.label :subscriber_email, "Their Email" %><br />
          <%= f.email_field :subscriber_email, placeholder: 'email@example.com', class: 'required' %>

          <%= f.label :promoter_name, "Select your name" %><br />
          <%= f.select :promoter_name, @promoters.map {|p| p }, prompt: 'Select One' %>
        
          <%= label_tag :other_promoter_name, "Enter your name if it's not on the list" %><br />
          <%= text_field_tag :other_promoter_name, params[:other_promoter_name], placeholder: 'John Doe' %>

					<%= hidden_field_tag :admin_page, true %>
          <%= submit_tag "Submit", class: 'button' %>
			<% end %>
		</fieldset>
	</div>
</div>