<div id="bar-<%= @bar_entity.id %>" class="row">
  <div class="large-12 columns">
  	<h4><%= @bar_entity.bar_name %>
  		<small>
  			<%= link_to "(edit)", edit_bar_entity_path(@bar_entity) %> 
  			<%= link_to "(delete)", @bar_entity, method: :delete, data: {confirm: "Are you sure?"}, remote: true %>
  		</small>
  	</h4>
  </div>
  <div class="large-6 columns user_info">
    <h4>Information</h4>
    <span><%= @bar_entity.bar_addr1 %></span>
	<% unless @bar_entity.bar_addr2.blank? %>
    <span><%= @bar_entity.bar_addr2 %></span>
    <% end %>
    <span><%= @bar_entity.bar_city %>, <%= @bar_entity.bar_state %> <%= @bar_entity.bar_zip %></span>
    <span><%= @bar_entity.bar_phone %></span>
    <span><%= link_to @bar_entity.bar_url, "#{@bar_entity.bar_url}", target: :_blank %></span>
  </div>
  <div class="large-6 columns user_info">
    <h4>Hours</h4>
      <span><b>Monday:</b> <%= @bar_entity.hours_mon %></span>
      <span><b>Tuesday:</b> <%= @bar_entity.hours_tues %></span>
      <span><b>Wednesday:</b> <%= @bar_entity.hours_wed %></span>
      <span><b>Thursday:</b> <%= @bar_entity.hours_thur %></span>
      <span><b>Friday:</b> <%= @bar_entity.hours_fri %></span>
      <span><b>Saturday:</b> <%= @bar_entity.hours_sat %></span>
      <span><b>Sunday:</b> <%= @bar_entity.hours_sun %></span>
  </div>
</div>