<style>
.hour-label { margin-top: 4px !important; }
</style>
<h3>Edit <%= @bar_entity.bar_name %></h3>  
<hr />

<fieldset>
<%= form_for @bar_entity, html: {class: 'custom'} do |f| %>  
  <% if @bar_entity.errors.any? %>  
    <div class="error_messages">  
      <h4>Form is invalid</h4>  
      <ul>  
        <% for message in @bar_entity.errors.full_messages %>  
          <li><%= message %></li>  
        <% end %>  
      </ul>  
    </div>  
  <% end %>

  <%= render partial: 'form', locals: {f: f} %>

  <%= f.submit "Update Bar", class: 'button nice radius' %> <%= link_to "Cancel", profile_path, class: 'alert button nice radius' %>
<% end %>  
</fieldset>