<% title "My Bars - " %>

<div class="row heading">
    <div class="large-9 columns">
        <img alt="Beerance_baricon" src="/assets/beerance_baricon.png"><h2>Your Bars</h2>
    </div>
  <div class="large-3 columns">
    <%= link_to "Add New Bar", new_bar_entity_path, id: 'new_link', class: 'button' %>
  </div>
</div>

<div class="content bar-list">
  <div class="large-12 columns">
    <% @bar_entities.each do |bar| %>
      <div id="bar-<%= bar.id %>" class="row" style="border-bottom: 1px solid #3e130d; margin-bottom: 20px;">
          <div class="row">
            <div class="large-12 columns user-info" style ="padding-bottom:0;">
              <h2><%= bar.bar_name %>
                <small>
                  <%= link_to "edit", edit_bar_entity_path(bar) %> / 
                <%= link_to "delete", bar, method: :delete, data: {confirm: "Are you sure?"}, remote: true %>
              </small>
            </h2>
          </div>
        </div>
        <div class="row">
            <div class="large-6 columns user_info" style="padding-left:35px;">
            <span><%= bar.bar_addr1 %></span>
              <% unless bar.bar_addr2.blank? %>
            <span><%= bar.bar_addr2 %></span>
              <% end %>
            <span><%= bar.bar_city %>, <%= bar.bar_state %></span>
            <span><%= bar.bar_zip %></span>
            <span><%= link_to bar.bar_url, "#{bar.bar_url}", target: :_blank %></span>
          </div>
          <div class="large-6 columns user_info">
            <span>Plan: Gold Plan</span>
            <span><%= number_to_phone bar.bar_phone, area_code: true %></span>
            <span><%= link_to "Change Plan", billing_overview_path %></span>
            <span><%= link_to "Update Billing Information", billing_overview_path %></span>
          </div>
        </div>
        </div>   
        <% end %>    
      </div>
  </div>