<% title 'Feedback - ' %>

<style>
textarea {height:150px;}
</style>

<div class='row'>
	<div class='large-5 push-7 large columns'>
  	<p></p>
    <p>Thank you for taking the time to send us feedback.  Please take a few minutes to review the site and send us your feedback by filling out the form.</p>
    <div class="row hide-for-small">
			<div class="large-7 large-centered columns"><%= image_tag "beerance_badge.png", class: 'badge' %></div>
		</div>
  </div>
  <div class='large-7 pull-5 large columns'>
      <fieldset style="margin:0;">
	      <%= form_for @feedback, url: send_feedback_path do |f| %>
            <% if @feedback.errors.any? %>  
              <div class="error_messages">  
                <h3>Feedback form is invalid</h3>  
                <ul>  
                  <% for message in @feedback.errors.full_messages %>  
                    <li><%= bar_error message %></li>
                  <% end %>  
                </ul>  
              </div>  
            <% end %>  
	
	          <%= f.label :category, "Feedback Category" %><br />
	          <%= f.select :category, %w{Design Error Suggestion Request Other}, prompt: 'Select One' %>
	
	        	<%= f.label :comment, "Your Comment" %><br />
						<%= f.text_area :comment %>
	
            <%= f.submit "Submit Feedback", class: 'orange button radius' %>
	          <%= link_to "Cancel", :back, class: 'red button nice radius' %>
	
	      <% end %>
      </fieldset>
  </div>
</div>
