<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <style>input {display:inline-block !important;}</style><![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <style>input {display:inline-block !important;}</style><![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <style>input {display:inline-block !important;}</style><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  
  <!-- Uncomment to make IE8 render like IE7 -->
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
  
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" />  
  <title>BeeranceApp.com</title>
  
  <!-- Included CSS Files -->
  <%= stylesheet_link_tag    "application" %>
  
  <!-- Included JS Files  -->
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Domine:400,700' rel='stylesheet' type='text/css'>
</head>
  <body>
    <% if flash[:notice] %>
      <div class='alert-box'><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:error] %>
      <div class='alert-box error'><%= flash[:error] %></div>
    <% end %>    

    <div class="row">
      <div class="large-3 offset-by-1 columns side-bar">
        <h1><%= link_to image_tag("title.png"), root_path %></h1>
        <span style='min-height: 1000px;' class="hide-for-small">
        /bie)e)rens/<br />
        <p><b>Noun</b><br />
          1.) The action or proccess of selling beer at a deep discount
        </p>
        <p>
          <b>Synonyms</b>
          <p>fun, local, savings</p>
        </p>

        <%= image_tag "appStore.png", style: 'width: 50%' %>
          <br />
          <ul class="side-nav" style="text-align: right; font-size: 18px;">
            <% if current_user.admin? %>
              <li><%= link_to "Admin Portal", admin_path %></li>
            <% end %>
            <% if current_user %>
              <li><%= link_to "Your Bars", profile_path %></li>
            <% end %>
            <li><%= link_to "About", about_path %></li>
            <li><a href="#">Blog</a></li>
            <li><%= link_to "Contact Us", contact_path %></li>
          </ul>
          <br />
        <div class="panel radius" style="text-align:center;color: brown">
          Own a bar?
          <br />
          Want to advertise your specials?
          <br />
          <br />
          <%= link_to "Join Beerance", sign_up_path %>
        </div>


        </span>

      </div>
      <div class="large-8 columns">
        <div class="row">
          <section class="top-bar-section">
        <!-- Left Nav Section -->
        <% if current_user %>  
        <ul class="right">
          <li class="divider show-for-medium-and-up"></li>
          <li>
            <%= link_to "Log out", log_out_path %>  
          </li>
        </ul>
        <ul class="right">
          <li class="divider show-for-medium-and-up"></li>
          <li>
            <%= link_to "Your Bars", profile_path %>  
          </li>
        </ul>
        <% else %>
        <ul class="right">
          <li class="divider show-for-medium-and-up"></li>
          <li>
            <%= link_to "Bar Owner Login", "#", data: {reveal_id: "log_in"}, title: "Bar Owner Login" %>
          </li>
        </ul>
        <ul class="right">
          <li class="divider show-for-medium-and-up"></li>
          <li>
            <%#= link_to "Sign Up", "#", data: {reveal_id: "sign_up"}, title: "Sign Up" %>
          </li>
        </ul>
        <% end %> 
      </section>
        </div>
        <%= yield %>

      </div>
    </div>

        <!-- log in form -->
         <div id="log_in" class="reveal-modal medium">
          <h3 class="blue">Log in!</h3>
          <p class="lead">Log in to your account.</p>
          <hr />
          <div class='row'>
            <div class='twelve columns'>
              <%= form_tag sessions_path do %>  
              <p>  
                <%= label_tag :email %><br />  
                <%= text_field_tag :email, params[:email], class: 'required' %>  
              </p>  
              <p>  
                <%= label_tag :password %><br />  
                <%= password_field_tag :password, nil, class: 'required' %>  
              </p>  
              <p><%= submit_tag "Login", class: 'blue button nice radius' %></p>  
            <% end %>  
            </div>              
          </div>  
          <a class="close-reveal-modal">&#215;</a>
        </div>

        <!-- sign up form -->
        <div id="sign_up" class="reveal-modal medium">
          <h3>Sign Up For Beerance</h3>
          <h4 class="subheader">Get started today!</h4>
          <hr />
            
          <fieldset>
          <%= form_for User.new do |f| %>  
            <p>  
              <%= f.label :email %><br />  
              <%= f.email_field :username, class: 'required' %>  
            </p>
            <p>  
              <%= f.label :owner_name, "Your Name" %><br />  
              <%= f.text_field :owner_name, class: 'required' %>  
            </p>
            <p>  
              <%= f.label :owner_phone, "Business Phone Number" %><br />  
              <%= f.phone_field :owner_phone, class: 'required' %>  
            </p>  
            <p>  
              <%= f.label :password %><br />  
              <%= f.password_field :password, class: 'required' %>  
            </p>  
            <p>  
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, class: 'required' %>  
            </p>  
            <p><%= f.submit "Sign Up", class: 'button nice radius success' %></p>  
          <% end %>  
          </fieldset>
          <a class="close-reveal-modal">&#215;</a>          
        </div>

  </body>
</html>