  <%= render partial: 'shared/head' %>

  <body>
    <%= render partial: 'shared/header' %>
		<%= render partial: 'shared/subnav' %>

		<div class="internalpage">
			<div class="purple_grad">
				<div class="row">
					<div class='large-12 columns'>
						<h1><%= yield(:title)[0..-3]%></h1>
					</div>
				</div>
			</div>
			<div class="orange_grad">
				<div class="row info rounded-box">
          <%= yield %>
				</div>
			</div>
		</div>
		
    <%= render partial: 'shared/footer' %>
  </body>
</html>